/* stylelint-disable selector-list-comma-newline-after */

@font-face {
  font-family: "Dopestyle";
  src: url("/css/fonts/Dopestyle.ttf");
}

.main {
  background-color: #004120;
  background-image: url("https://images.dn.no/image/p5G%2B%2BH5FQ6khNu%2BajI5quQVjsEqvTO1dalmRuZMDNQc%3D/nhst/binary/aa8e6a7e68cd38183d34c7dcaa07825a");
  background-repeat: no-repeat;
  /*background-size: 100%;*/
  background-attachment: fixed;
  padding-top: 2rem;
}

.header {
  padding-top: 0.5rem;

  text-align: center;
}

.header-main {
  font-size: 80px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-family: "Dopestyle";
}

.header-main-link {
  color: #000000;
}

a:hover.header-main-link {
  color: #000000;
  text-decoration: none;
}

.cntnr {
  background-color: #FFFFFFE8;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.title {
  margin-bottom: 1rem;
}

.nav {
  /*display: -ms-flexbox;
  display: flex;*/
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.navbar-toggler-bar {
  display: none;
}

.navbar-toggler-dropdown {
    width: 100%;
}

.full-width {
  width: 100%
}

@media (min-width: 768px)
{
    .navbar-toggler-dropdown {
        display: none;
    }

    .navbar-toggler-bar {
      display: flex;
    }
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/*
 * Footer
 */
.footer {
  position: relative;
  bottom: 0;
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
