<h1 class="title">Kontakt oss</h1>
<p>For mer informasjon eller spørsmål, kontakt oss gjerne!</p>
<ul>
  <li style="list-style-type:none;">
    <h6><b>Sverre Alvik</b> (Troppslede / Vandrerleder)</h6>
    <p>tlf: <a href="tel:97166917">971 66 917</a><br>
      e-post: <a href="mailto:sverre.alvik@dnvgl.com">sverre.alvik@dnvgl.com</a></p>
  </li>
  <li style="list-style-type:none;">
    <h6><b>Anne Christine Brenne</b> (Stifinnerleder)</h6>
    <p>tlf: <a href="tel:91143635">911 43 635</a><br>
      e-post: <a href="mailto:acbrenne@gmail.com">acbrenne@gmail.com</a></p>
  </li>
  <li style="list-style-type:none;">
    <h6><b>Yngve Nygård</b> (Gruppeleder)</h6>
    <p>tlf: <a href="tel:95291387">952 91 387</a><br>
      e-post: <a href="mailto:yngve.nygard@no.abb.com">yngve.nygard@no.abb.com</a></p>
  </li>
  <li style="list-style-type:none;">
    <h6><b>Theodor Kvalsvik Lauritzen</b> (Webredaktør)</h6>
    <p>e-post: <a href="mailto:kolsasspeiderne@gmail.com">kolsasspeiderne@gmail.com</a></p>
  </li>
</ul>
<h3>Sosiale media</h3>
<p>Vi er til stede på en del sosiale media på internett også!<br>
  Twitter: <a href="https://twitter.com/kolsasspeiderne">@kolsasspeiderne</a><br>
  Instagram: <a href="https://www.instagram.com/kolsasspeiderne/">@kolsasspeiderne</a><br>
  Youtube: Vår egen kanal på <a href="http://www.youtube.com/channel/UC-gtt8eS8aBsHHIZlLj90eA" target="_blank" rel="noopener">www.youtube.com/channel/UC-gtt8eS8aBsHHIZlLj90eA</a></p>
