<h1 class="title">Nyttige lenker</h1>
<p>
  En del lenker til nyttig informasjon for speidere, foresatte, og andre som er interesserte i speiding.
</p>
<ul>
  <li><a href="http://www.kmspeider.no/">Norges KFUK-KFUM-speidere</a></li>
  <li><a href="http://speiderprogram.no/">Speiderprogram</a></li>
  <li><a href="http://speiderbutikken.no/">Speiderbutikken</a></li>
  <li><a href="http://www.speidermuseet.no/">Speidermuseet</a></li>
</ul>
