<h1 class="title">Om oss</h1>
<p>
  Kolsås KFUK-KFUM-speidere er en aktiv speidergruppe med rundt 70 speidere, fordelt på stifinnere (3. og 4. klassetrinn) og vandrere (5. til 10. trinn). Vi har også et roverlag med speidere på videregående skole. De fleste speiderne går på
  Levre, Evje, Gjettum og Hauger skoler, men vi har speidere fra hele distriktet rundt. Områdene som sogner til Kolsås KFUK-M er Kolsås, Gjettum, Valler, Evje, Dønski, Rud, Rykkinn, Løkeberg og Sandvika, men barn og ungdommer fra andre områder
  er også velkomne hos oss. Kolsås KFUK-KFUM-speidere er tilsluttet Norges KFUK-KFUM-speidere og tilhører Asker og Bærum krets av Norges KFUK-KFUM-speidere. Fra vår base i Helgerud kirke er vi også aktive i Helgerud menighet.
</p>
<h4>Medlemskontingent</h4>
<p>
  For tiden koster medlemskap 600.- i året for første medlem. Deretter 100.- mindre for hvert nytt familiemedlem.<br>
  Fire medlemmer betaler derfor kun 1800.- i året.
</p>
<h4>Har du lyst til å begynne?</h4>
<p>
  Vi har alltid plass til flere speidere. Torsdager er speiderdagen i Kolsås. Vi har våre møter vanligvis i underetasjen i <a href="http://no.wikipedia.org/wiki/Helgerud_kirke">Helgerud kirke</a> eller ute i området, med tidspunktet torsdag kl.
  17:30-19:00 (stifinnere) og torsdag 19:00-20:30 (vandrere). Du er velkommen til å komme innom og se hva vi holder på med.
</p>
<iframe
  id="embeded-map"
  width="500"
  height="500"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC9CUDd_mbBIPxcwvofOTqf81Vn_A6RkZM
    &q=Helgerud+menighet,Gjettum+Norway" allowfullscreen>
</iframe>
<script type="text/javascript">
  function resizeMap() {
    $("#embeded-map").width($("main").innerWidth())
  }
  resizeMap()
  $(window).resize(resizeMap)
</script>
<p>
  For mer informasjon, kontakt vår <a href="/Kontakt_oss">troppsleder</a>.
</p>
