<h1 class="title">Program</h1>
<p>
  Her ligger semesterets program. Det vil sannsynligvis&nbsp;komme en del mindre endringer underveis som ikke nødvendigvis vil legges inn i disse programmene. Oppdatert oversikt vil du finne på <a title="Aktivitetskalender" href="https://kolsasspeiderne.wordpress.com/aktivitetskalender/">aktivitetskalenderen</a>&nbsp;og
  i bloggen på forsida.
</p>
<p>
  Programmet for vandrerne kommer snart, antageligvis før 17. januar.
</p>
<p>
  <a title="program stifinnerne v2019" href="https://kolsasspeiderne.files.wordpress.com/2019/01/program-stifinnerne-v2019.pdf" target="_blank">
    Program stifinnerne V2019
  </a>
</p>
<p>
  <a title="program rovere v2019" href="https://kolsasspeiderne.files.wordpress.com/2019/01/program-rovere-v2019.pdf" target="_blank">
    Program rovere V2019
  </a>
</p>
