<h1 class="title">Speiding</h1>
<p>
  Speiding engasjerer over 30.000 medlemmer i Norge; De to store speiderforbundene er Norges Speiderforbund (NSF) og Norges KFUK-KFUM Speidere. På verdensbasis har speiderne nærmere 50 millioner medlemmer i alle nasjoner, av begge kjønn
  og av alle religioner og livsoppfatninger.
</p>
<p>
  Vi tilbyr et inkluderende fellesskap for barn og ungdom. Speiderne har fokus på fysisk aktivitet, samarbeid og individuell mestring. Dette gjør vi ved utvikling av individuelleferdigheter, turer i naturen med og uten
  overnatting og ved læring av felles kulturelle/religiøse verdier.
</p>
<p>
  Speiderne tilbyr kanskje den beste lederutdannelse for ungdom, der gruppene gir ansvar og plikter for medlemmene fra ung alder.
</p>
<p>
  Alle ansatte og frivillige som har oppgaver som innebærer et tillits- eller ansvarsforhold overfor mindreårige eller mennesker med utviklingshemming for mindreårige i speideren har krav om politiattest.
</p>
