<h1 class="title">Brukere</h1>

<table class="table table-hover">
  <thead>
    <th scope="col">Navn</th>
    <th scope="col">Rettigheter</th>
  </thead>
  <tbody>
    {{#each user}}
      <tr>
        <td>{{name}}</td>
        <td>
          {{#if roles}}
            {{#each roles}}
              {{this}}
            {{/each}}
          {{else}}
            <a style="color: gray;">Ingen rettigheter</a>
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
